<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apps segundo corte</title>
</head>
<body>
    <header>
        <h3>header</h3>
    </header>
    <h1>home page</h1>
    <div class="container">
        <h4>data x</h4>
    </div>
    <aside class="aside">
        <h3>aside </h3>
    </aside>
    <footer>
        <h3>footer</h3>
    </footer>
    <button>hola soy un boton </button>
</body>
</html>