<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Seven Deadly Sins</title>
</head>
<body>
    <header>
    </header>
    <aside class="aside">
        <div class="background" style="background-image: url('/assets/background.jpg');">
            <div class="container">
                <div class="mini_container">
                    <div class="container_button">
						<a class="button" href="/soldier">
							Agregar soldado sacro
                        </a>
                    </div>
                    
                    <div class="container_button">
						<a class="button" href="/sin">
							Agregar pecado capital
                        </a>
					</div>
                </div>
            </div>
        </div>
    </aside>
    <footer>
    </footer>
    </body>
    
    </html>