<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de pecados</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    	<link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="background" style="background-image: url('/assets/background.jpg');">
        <div class="container">
            <div class="mini_container">
                <span class="form_title">
                    Peleas
                </span>
                <table class="table">
                    <tr>
                        <td>NOMBRE DEL PECADO O SOLDADO</td>
                        <td>CONTRINCANTE</td>
                        <td>IMAGEN PELEA</td>
                    </tr>
                </tr>
                <% if(sin.length) { %>
                    <% sin.forEach(function(user){ %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.figths%></td>
                    </tr>
                    <% }) %>
                <% } %>
                </table>
            </div>
        </div>
    </div>
    </div>
</body>
</html>